<!DOCTYPE html>
<html>
<head>
    <title>Wine Cultivar Predictor</title>
</head>
<body>
    <h2>Wine Cultivar Origin Prediction</h2>

    <form method="POST">
        <input name="alcohol" placeholder="Alcohol" required><br>
        <input name="malic_acid" placeholder="Malic Acid" required><br>
        <input name="alcalinity_of_ash" placeholder="Alcalinity of Ash" required><br>
        <input name="magnesium" placeholder="Magnesium" required><br>
        <input name="flavanoids" placeholder="Flavanoids" required><br>
        <input name="color_intensity" placeholder="Color Intensity" required><br>

        <button type="submit">Predict Cultivar</button>
    </form>

    {% if prediction %}
        <h3>Predicted Wine Origin: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
